<% if logged_in? %>
    <p>ログイン完了ユーザ: <%= current_user.name %></p>
    <%= form_with(model: @task) do |f| %>
    <%= f.label :status, 'ステータス' %>
    <%= f.text_field :status %>
  
    <%= f.label :content, 'タスク' %>
    <%= f.text_field :content %>

    <%= f.submit '作成' %>
<% end %>
    <%= render 'tasks/tasks', tasks: @tasks %>
<% else %>
    <h1>Welcome to the Tasklist</h1>
    <%= link_to 'Sign up now!', signup_path %>
<% end %>